<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Old Walks</title>
    <style> 
        body {
            margin: 0;
            padding: 0;
            background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
            font-family: 'Kumbh Sans', sans-serif;
            /* height: 100%; */
        }
        
​
        h1 {
            text-align: center;
        }
​        

        /* table {
            margin: auto;
        } */

        table, tr, td {
            /* margin-left: auto;
            margin-right: auto; */
            /* margin: 10px; */
            padding: 5px;
            /* margin: 0; */
            /* border: solid black 1px; */
            /* width: 60%; */
            height: 100%;
            font-family: 'Kumbh Sans', sans-serif;
            font-size: larger;
            border: 1px solid #b1b0b0;
            
        }

        .center_page {
            overflow: hidden;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .wrapper {
            overflow: hidden;
            padding: 50px;
            background-color: rgb(255, 255, 255);
            border-radius: 15px;
            box-shadow: 3px 12px 28px -3px rgba(0, 0, 0, 0.45);
            /* min-width: 400px; */
        }

        a {
        text-decoration: none;
        font-size: 1.2em;
        cursor: pointer;
        display: inline-block;
        margin-top: 1rem;
        background-color: #D5D5F5;
        border-radius: 5px;
        padding: 10px;

    }
    a:hover {
        box-shadow: 3px 12px 28px -3px rgba(0,0,0,0.25);
    }
    </style>
</head>
<body>
    <div class="center_page">
            <div class="wrapper">

                <h1>Old Walks</h1>

                <table>
                    <tr>
                        <td><strong>Feb 26</strong></td>
                        <td><strong>15m 35s</strong></td>
                    </tr><br><br>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Pee</strong></td>
                        <td><strong>Poo</strong></td>
                    </tr>
                    <tr>
                        <td>Fido</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                    <td>Spot</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
            </table>
​       
            <table>
                <tr>
                    <td><strong>Feb 23</strong></td>
                    <td><strong>22m 40s</strong></td>
                </tr><br><br>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Pee</strong></td>
                    <td><strong>Poo</strong></td>
                </tr>
                <tr>
                    <td>Fido</td>
                    <td>Yes</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Spot</td>
                    <td>No</td>
                    <td>Yes</td>
                </tr>
            </table>
            ​   
            <table>
                <tr>
                    <td><strong>Feb 20</strong></td>
                    <td><strong>25m 20s</strong></td>
                </tr><br><br>
                <tr>
                    <td><strong>Name</strong></td>
                    <td><strong>Pee</strong></td>
                    <td><strong>Poo</strong></td>
                </tr>
                <tr>
                    <td>Fido</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Spot</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </table>

            <a onclick="history.go(-1)">Go home</a>
        </div>
    </div>
</body>
</html>